@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=Nobile');


h1 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 40px;
  line-height: 55px;
 }
  
 body {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 13px;
 }

 input{
   font-family: 'Nobile', Helvetica, Arial, sans-serif;
   font-size: 12px;
 }

 .HoverList{
   position: relative;
   display: inline-block;
 }

 .HoverContent{
   display: none;
   position: absolute;
   top: -5px;
   left: 60px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1; 
}

.HoverContent li{
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.HoverList:hover .HoverContent{
  display: block;
}
.HoverList:hover .HoverHitbox{
  background-color: rgb(0, 110, 255);
}