@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=Nobile');


h1 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 40px;
  line-height: 55px;
 }
  
 body {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 13px;
 }

 input{
   font-family: 'Nobile', Helvetica, Arial, sans-serif;
   font-size: 12px;
 }
